# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    env(DATABASE_HOST):     127.0.0.1
    env(DATABASE_PORT):     ~
    env(DATABASE_NAME):     symfony
    env(DATABASE_USER):     root
    env(DATABASE_PASSWORD): ~

    env(REDIS_HOST): 127.0.0.1
    env(REDIS_PORT): 6379
    env(REDIS_INDEX): 0

    env(MAILER_TRANSPORT):  smtp
    env(MAILER_HOST):       127.0.0.1
    env(MAILER_USER):       ~
    env(MAILER_PASSWORD):   ~
    env(MAILER_PORT): 25
    env(MAILER_ENCRYPTION): ~
    env(MAIL_SENDER):       no-reply@domain.tld

    # A secret key that's used to generate certain security-related tokens
    env(SECRET):            965436407b8b3ac3d595e96d85b5fa06c90973f9

    # Twitter
    env(TWITTER_CONSUMER_KEY): ~
    env(TWITTER_CONSUMER_SECRET): ~
    env(TWITTER_TOKEN): ~
    env(TWITTER_TOKEN_SECRET): ~
    env(TWITTER_ENABLE): false

    # Facebook
    env(FACEBOOK_PAGE_ID): ~
    env(FACEBOOK_APP_ID): ~
    env(FACEBOOK_TOKEN): ~
    env(FACEBOOK_SECRET): ~
    env(FACEBOOK_ENABLE): false

    # cors
    env(CORS_ALLOW_ORIGIN): http://localhost

    env(APP_NAME): rest-project
    env(BASE_URL_RESET_PASSWORD): http://localhost?token=
    env(BASE_URL_CONFIRMATION): http://localhost?token=
    env(BASE_URL_REMARK): http://localhost/remarks/

    env(ENABLE_LOG_REQUEST): false
    env(ENABLE_HISTORY): false

    env(LIFETIME_CACHE_SCORE): 600 # ten minutes
    env(LIFETIME_CACHE_VOTE_USER): 600 # ten minutes
    env(LIFETIME_CACHE_COUNT_VOTE): 600 # ten minutes
    env(LIFETIME_CACHE_COUNT_RESPONSE): 600 # ten minutes

    # slack monolog
    env(SLACK_TOKEN): "token-slack"
    env(SLACK_CHANNEL): "channel-slack"
